/*
*I know a lot of code i did a lot of repetition
i will impreove in my next projects

**/

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  src: url(assets/fonts/static/Inter-Regular.ttf);
}

body {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}

.header-container {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  width: 50%;
  height: 300vh;
  z-index: 10;
}
.hidden {
  display: none;
}

.menu-items {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  margin-top: 0px;
}
.mobile-menu > ul > li {
  list-style-type: none;
  margin: 20px;
}
.mobile-menu > ul > li > a:hover {
  color: tomato;
}
.mobile-menu > ul > li > a {
  text-decoration: none;
  color: black;
}
.mobile-menu > img {
  position: absolute;
  right: 20%;
  top: 1%;
}

.menu-items > ul > li {
  list-style-type: none;
}
.menu-items > ul > li > a:hover {
  color: tomato;
}
.menu-items > ul > li > a {
  text-decoration: none;
  color: black;
}
.title {
  font-size: 1rem;
}
.hero-button {
  padding: 15px 30px 15px 30px;
  border: none;
  background-color: tomato;
  color: white;
  cursor: pointer;
  letter-spacing: 4px;
  font-weight: 400;
  margin-top: 30px;
}
.hero-button:hover {
  background-color: #000014;
  color: goldenrod;
}
.hero-info {
  display: flex;
  justify-content: space-between;
}

.info {
  margin-left: 40px;
}
.info > p {
  font-size: 1rem;
  line-height: 20px;
}

.hero-image {
  width: 100%;
  src: url(/assets/images/image-web-3-desktop.jpg);
}
.new {
  font-family: "Inter", Haettenschweiler, sans-serif;

  background-color: #000014;
  color: azure;
  padding: 20px 20px 20px 20px;
  margin-top: 20px;
}

.new > h1 {
  color: goldenrod;
  margin-bottom: 30px;
  cursor: pointer;
}
.sect > h3 {
  cursor: pointer;
}
.sect > h3:hover {
  color: goldenrod;
}
.sect {
  margin-bottom: 30px;
  margin-top: 10px;
}
.new > .sect > p {
  color: darkgray;
}
hr {
  border-top: 1px solid darkgray;
}
.hero-info > .title {
  font-family: "Inter", Haettenschweiler, sans-serif;
  src: url(/assets/fonts/static/Inter-ExtraBold.ttf);
}

.hero-info {
  margin-top: 20px;
}
.wrapper {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
  }
  .menu {
    display: block !important;
  }
  .hero-image {
    width: 105%;
  }
  .menu-items {
    display: none !important;
  }
}

#img1 {
  display: block;
}
#img2 {
  display: none;
}

@media all and (max-width: 700px) {
  #img1 {
    display: none;
  }
  #img2 {
    display: block;
  }
}

.hero {
  margin-right: 30px;
  margin-top: 20px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 15px;
}
.card1 {
  display: flex;
}
.card1 > img {
  width: 150px;
  object-fit: contain;
  margin-right: 20px;
}
.card1-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card1-flex > h1 {
  color: darkgrey;
}
.card1-flex > h3 {
  color: rgb(94, 23, 130);
}
.card1-flex > p {
  color: darkgray;
}

.card2 {
  display: flex;
  margin-top: 30px;
}
.card2 > img {
  width: 150px;
  object-fit: contain;
  margin-right: 20px;
}
.card2-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card2-flex > h1 {
  color: darkgray;
}
.card2-flex > h3 {
  color: rgb(94, 23, 130);
}
.card2-flex > p {
  color: darkgray;
}

.card3 {
  display: flex;
  margin-top: 30px;
}
.card3 > img {
  width: 150px;
  object-fit: contain;
  margin-right: 20px;
}
.card3-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.card3-flex > h1 {
  color: darkgray;
}
.card3-flex > h3 {
  color: rgb(94, 23, 130);
}
.card3-flex > p {
  color: darkgray;
}
.card1-flex > h3:hover {
  color: tomato;
}
.card2-flex > h3:hover {
  color: tomato;
}
.card3-flex > h3:hover {
  color: tomato;
}

.menu {
  width: 10%;
  cursor: pointer;
  display: none;
}
.close {
  cursor: pointer;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
